*{
  padding: 0;
  margin: 0;
 
  font-family: Arial, Helvetica, sans-serif;
}

.header-bar{
  width: 100vw;
  background-color: rgb(43, 43, 43);
  height: 1.8em;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  width: 100vw;
  height: 4.6em;
}





.logo{
  width: 180px;
  height:80px;
  background: url(https://static.zattini.com.br/2.85.5/zattini/images/logo-zattini-bn-2019.png) no-repeat;
  background-size: contain;

  


 
}

.search-container{
  display: flex;
  align-items: center;

  width: 45%;
  height: 3em;
  
  background-color: white;
  
  
}

.search-box{
  z-index: 0;
  height: 90%;
  width: 90%;

  border: none;
}

.search-box:checked{
  outline-offset: none;
}

.search-placeholder{
  user-select: none;
  position: absolute;
  margin-left: 10px;
  width: 100%;
  z-index: 3;
}

.fa-magnifying-glass{
  margin-left: 10px;
  font-size: 1.3em;
  color: rgb(0, 0, 0);
}




.fa-heart, .fa-user, .fa-bag-shopping{
  color: white;
  font-size: 1.5em;
}

.user-info{
  color: white;
}




