*{
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}


.header-bar{

  background-color: rgb(43, 43, 43);
  height: 1.8em;
  
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  height: 4.6em;
}

ul{
  font-size: 14px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: grey;
}


.logo{
  width: 180px;
  height:80px;
  background: url(https://static.zattini.com.br/2.85.5/zattini/images/logo-zattini-bn-2019.png) no-repeat;
  background-size: contain;

  


 
}

.button{
  cursor: pointer;
}

.search-container{
  display: flex;
  align-items: center;

  width: 45%;
  height: 3em;
  
  background-color: white;
  
  
}

.search-box{
 
  height: 23px;
  width: 90%;
  padding: 10px;
  font-size: 1em;
  border: none;

  transition: all 0.5s;
}

.search-box:focus{
  outline: none;
}

.search-placeholder{
  user-select: none;
  position: absolute;
  margin-left: 10px;
  z-index: 3;
}

.pHolder-Anim{
  position: absolute;
  top: 45px;
  font-size: 0.7em;
  opacity: 0.5;
  transition: all 0.5s;
}


.fa-magnifying-glass{
  
  font-size: 1.3em;
  color: rgb(0, 0, 0);
}




.fa-heart, .fa-user, .fa-bag-shopping{
  color: white;
  font-size: 1.5em;
}

.user-info{
  color: white;
}


.pub, .cep{
  user-select: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 3vw;
  padding: 0px 5px;
  
  cursor: pointer;
}






.cep  p{ 
  padding-right: 80px;
  margin: 0 5px;
  font-size: 0.8em;
  color: grey;
}

.cep::after{
  content: '';
  height: 40px;
 
  border-right: 1px solid grey;
}



.pub ul {
  display: flex;
  list-style: none;

}

.list-title{
  display: flex;
  padding-left: 20px;
}

.list-title i{
  margin-right: -10px;
  font-size: 1.2em;
}

.list-section{
  display: flex;
  color: grey;
}

.pub ul li{
  margin: 0 20px;
}

.pubOn{
  display: none;
}

.pubOff{
  display: flex;
}

.banner-homer img{
  width: 100vw;
 margin-bottom: -4px; /*Ajeitar dps*/
}

.home-banner-section  {
  width: 100%;
 
  position: relative;
}
.banner-photo {
  z-index: -2;
  background: url(img/bannermain.webp) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 440px;
  position: absolute;
}



